* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modelo {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-wrap: wrap;
}

.caja {
    flex-basis: 50%;
    height: 33.33%;

    border: 0.1em solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}


.caja1,
.caja2 {
    background-color: #d5e8d0;
}

.caja3,
.caja4 {
    background-color: #fff2cc;
}

.caja5 {
    background-color: #f4cccc;
}

.caja6 {
    background-color: #c9daf8;
}


@media (max-width: 30em) {

    .caja1,
    .caja2,
    .caja5,
    .caja6 {
        flex-basis: 100%;
        height: 20%;
    }

    .caja3,
    .caja4 {
        flex-basis: 50%;
        height: 20%;
    }

    .caja6 {
        order: 1;
    }

    .caja5 {
        order: 2;
    }

    .caja3 {
        order: 3;
    }

    .caja4 {
        order: 4;
    }

    .caja2 {
        order: 5;
    }

    .caja1 {
        order: 6;
    }

    .caja6 {
        background-color: #f4cccc;
    }

    .caja5 {
        background-color: #c9daf8;
    }

    .caja3,
    .caja4 {
        background-color: #fff2cc;
    }

    .caja1,
    .caja2 {
        background-color: #d5e8d0;
    }
}